deployment-schema/1_3ewRImzpkYHMHL-tzQunvA.png
deployment-schema/IaC-Ansible_Design_1.png
.$deployment-wordpress-gcp.drawio.bkp
.$deployment-wordpress-gcp.drawio.dtmp
deployment-schema/deployment-wordpress-gcp.drawio
credentials.json
